.button {
    border-radius: 10px;
    background-color: #8c52ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    left: -15px;
    top: 15px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.botao {
    border-radius: 10px;
    background-color: #ac8ee7;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    left: 45%;
    top: 25px;
    font : inherit;
    cursor : pointer; 
    text-decoration: none;
  }

  