<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>novo pacote</title>
  <link rel="stylesheet" href="pacote_novo.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <form action="pacote/novo" method="post" class="form">
    <h2>Criar novo pacote</h2>
    <br>
    <hr> <br>
    <label for="nomepac">
      <input class="input" placeholder="Digite o nome do pacote" type="text" name="nome_pacote" id="nomepac" th:value="${pacote.nome_pacote}" required>
    </label>
    <label for="preco">
      <input type="text"class="input" id="preco" th:value="${pacote.preco}" placeholder="Digite o valor do pacote" name="preco" required>
    </label>
    <div class="img"> 
      <label for="img"><input type="file" id="img" name="img" class="btn btn-success"  accept="image/png, image/jpeg"  multiple /> </label>
      <label for="img"><input type="file" id="img" name="img" class="btn btn-success"  accept="image/png, image/jpeg"  multiple /> </label>
      <label for="img"><input type="file" id="img" name="img" class="btn btn-success"  accept="image/png, image/jpeg"  multiple /> </label>
      <label for="img"><input type="file" id="img" name="img" class="btn btn-success"  accept="image/png, image/jpeg"  multiple /> </label>
      <label for="img"><input type="file" id="img" name="img" class="btn btn-success"  accept="image/png, image/jpeg"  multiple /> </label>
      <label for="img"><input type="file" id="img" name="img" class="btn btn-success"  accept="image/png, image/jpeg"  multiple /> </label>
    </div>
    <div class="duracao">
      <label for="duracao">Selecione a duração:</label>
      <select class="input" name="duracao" id="duracao" name="duracao" th:value="${pacote.duracao}" required>
          <option value="5dias">5 dias</option>
          <option value="7dias">7 dias</option>
          <option value="10dias">10 dias</option>
          <option value="14dias">14 dias</option>
      </select>
    </div>
    <div class="descricao1">
      <input type="text" class="input" name="descricao_lugar" id="descricao1" th:value="${pacote.descricao1}" placeholder="Digite a descrição do pacote" required>
    </div>
    <div class="textcard1">
      <input type="text" class="input" name="descricaocard1" id="descricaocard1" th:value="${pacote.descricaocard1}" placeholder="Digite a descrição do card 1" required>
    </div>
    <div class="card2">
      <input type="text" class="input" name="descricaocard2" id="descricaocard2" th:value="${pacote.descricaocard2}" placeholder="Digite a descrição do card 2" required>
    </div>
    <div class="card3">
      <input type="text"  class="input"name="descricaocard3" id="descricaocard3" th:value="${pacote.descricaocard3}" placeholder="Digite a descrição do card 3" required>
    </div>
    <button type="submit" value="enviar">Enviar</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>
</html>