<!DOCTYPE html>
<html>
	<head>
		<title>Novo Pacote Criado</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Novo pacote criado!</h1>
		<table border="1">
			<tr>
				<th>ID:</th>
				<td>
					<span th:text="${novoPacote.id}"></span>
				</td>
			</tr>
			<tr>
				<th>Nome:</th>
				<td>
					<span th:text="${novoPacote.id}"></span>
				</td>
			</tr>
			<tr>
				<th>Imagem:</th>
				<td>
					<span th:text="${novoPacote.id}"></span>
				</td>
			</tr>
			<tr>
				<th>Data de nascimento:</th>
				<td>
					<span th:text="${novoPacote.id}"></span>
				</td>
			</tr>
			<tr>
				<th>Preço:</th>
				<td>
					<span th:text="${novoPacote.preco}"></span>
				</td>
			</tr>
			<tr>
				<th>Duração:</th>
				<td>
					<span th:text="${novoPacote.duracao}"></span>
				</td>
			</tr>
			<tr>
				<th>Descrição:</th>
				<td>
					<span th:text="${novoPacote.descricao_lugar}"></span>
				</td>
			</tr>
			<tr>
				<th>Descrição card 1:</th>
				<td>
					<span th:text="${novoPacote.descricaocard1}"></span>
				</td>
			</tr>
			<tr>
				<th>descrição card 3:</th>
				<td>
					<span th:text="${novoPacote.descricaocard2}"></span>
				</td>
			</tr>
			<tr>
				<th>Descrição card 3:</th>
				<td>
					<span th:text="${novoPacote.descricaocard3}"></span>
				</td>
			</tr>
		</table>
	</body>
</html>