<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacote para Copa do mundo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/1-Bootstrap/Scroll.js">
    <link rel="stylesheet" href="BaseBoard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="imagem/logo_telegram_airplane_air_plane_paper_airplane_icon_143170.png" type="image/x-icon">
    <link rel="stylesheet" href="hr.css">
    <link rel="stylesheet" href="sidebar.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"  />
    <link rel="shortcut icon" href="imagem/icon_aviao.png" type="image/x-icon">
    <link rel="stylesheet" href="txt.css">
    <link rel="stylesheet" href="contentdescri.css">
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet" href="background.css">
    <link rel="stylesheet" href="button.css">
</head>
<body>
         <!-- navegador e sidebar -->
<nav class="navbar sticky-top navbar-light bg-light" >
  <div class="logo">
    <i class="bx bx-menu menu-icon"></i>
    <span class="logo-name">Dreams tourism</span>
  </div>
  <div class="sidebar">
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">Dreams tourism</span>
    </div>

    <div class="sidebar-content">
      <ul class="lists">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-home-alt icon"></i>
            <span class="link">Início</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-bar-chart-alt-2 icon"></i>
            <span class="link">Nossos serviços</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-bell icon"></i>
            <span class="link">Notificações</span>
          </a>
        </li>
       
        
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-heart icon"></i>
            <span class="link">Likes</span>
          </a>
        </li>
      
      </ul>

      <div class="bottom-cotent">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-cog icon"></i>
            <span class="link">Configurações</span>
          </a>
        </li>
        <li class="list">
          <a href="login.html" class="nav-link">
            <i class='bx bx-log-in icon'></i>
            <span class="link">Entrar</span>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>

<section class="overlay"></section>
        
                <!-- carrosel de img -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
         </ol>
        <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="imagem/img_repre_copa_doha_1500x600.png" alt="Primeiro Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="imagem/img_repre_copa_doha_catar1500x600.png" alt="Segundo Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="imagem/img_repre_copa_camelinho_catar1600x500.png" alt="Terceiro Slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="imagem/img_repre_copa_feminina1600x500.png" alt="Terceiro Slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="imagem/img_repre_copa_khalifa_stadium1600x500.png" alt="Terceiro Slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="imagem/img_repre_copa_predios_catar1600x500.png" alt="Terceiro Slide">
                </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
       </a>
    </div>

    <!-- legenda -->
    <div class="textoprincipal"> <br> <br>
        <h3>Pacote para Copa do mundo feminina</h3>  
    </div>
   <!--botão de compra-->
<main class="txtpg">
  <a href="form_escolha.html" class="botao">
      Comprar 
  </a>
</main>


   
    <br><br>
    <hr class="linha">
   
<!-- card de Descrição -->
<div class="back">
  <div class="card-deck" style="position: relative;   width:90%; left: 5%; top: 25px;">
      <div class="card" >
       
        <div class="card-body">
            <h3 class="card-title">Onde ficar no Qatar?</h3>
            <p class="card-text">Antes de decidir onde ficar em Doha,
                 é importante dizer que o Airbnb não é legalizado no Qatar.
                  Pelo menos até o momento não, portanto, você não encontrará nenhuma oferta desse tipo de hospedagem.
                 Caso encontre, talvez seja irregular e eu recomendo que você evite. <br>
                 Os melhores bairros para você se hospedar são: <br>
                 Souq Waqif <br>
                 Msheireb Downtown <br>
                 West Bay <br>
                 The Pearl <br>
         </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Quais são as vantagens de comprar um pacote de viagem para Doha? </h3>
            <p class="card-text"> As principais vantagens de comprar um pacote para Doha são:
                 obter desconto significativo na sua viagem combinando voo + hotel, incluir outros produtos como seguro viagem, 
                traslados do aeroporto, atividades, aluguel de carros, e a possibilidade de viajar com tudo resolvido.</p>
           
        </div>
    </div>
    <div class="card">
        
        <div class="card-body">
            <h3 class="card-title">Onde comer no Qatar?</h3>
            <p class="card-text"> Doha tem uma diversidade gastronômica internacional
                 tão grande que pode ser difícil encontrar pratos típicos do Catar durante uma visita à capital do país.
                  você pode experimentar como por exemplo: <br>
                 Saloona no restaurante Walima, Comida caseira com gostinho de nostalgia <br>
                 Warak enab no Shisha Garden, Um lanche saboroso a qualquer hora do dia <br>
                 Majboos no Al Manchab, Experimente o prato nacional do Catar em um ambiente suntuoso;
                </p>
            
        </div>
        
    </div>
  </div>
</div>


<br> <br> <br><br><br>
  <!-- linha -->
  <hr class="linha">
  <br><br>
<div class="txt">
<h3>Descrição:</h3>
<div class="txt" style="font-size: 20px; ">
    <P> Um local que vem encantando os seus visitantes pela sua beleza natural e arquitetônica. <br>
         O Catar é uma região desértica com diversos edifícios, <br>
         arranha-céus, <br>
         locais luxuosos, <br>
          belas arquiteturas e muito mais. <br>
          Portanto, vale super a pena a</p> <br>
</div>
</div>
</div>

<!-- linha -->
<hr width="95%">
<!-- legenda -->
<div class="txt"> <br>
    <h3>Informações Adicionais:</h3> <br>
    <div class="txt" style="font-size: 20px; ">
        <p>
           
            - Guía turístico profissional <br>
            - Transporte <br>
            
        </p>
    </div>
</div>

<!-- linha -->
<hr width="95%">
<!-- link js -->
<footer style="position: relative; top: 1;">
    <div class="boxs">
      <h2>Início</h2>
      <ul>
        <li><a href="inicio.html">Home</li></a>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="boxs">
      <h2>Contato</h2>
      <ul>
        <li><a href="#">Endereço</li></a>
        <li><a href="#">📌</li></a>
        <li><a href="#">📞 +55 (11) 97845-6098</a></li>
      </ul>
    </div>
    <div class="boxs">
      <h2>Suporte</h2>
      <ul>
        <li><a href="#">Fale conosco</li></a>
        <li><a href="#">📧 dreamstourism@gmail.com</li></a>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="boxs">
      <h2>Sobre nós</h2>
      <p>
        Somos uma agência de turismo com o objetivo de proporcionar aos nossos clientes a melhor viagem da vida deles, com o melhor custo-benefício e segurança que eles merecem. 
<br>
  <p> A Dreams Tourism é uma recém startup no mercado de turismo com grandes parcerias com os melhores hotéis e passeios exclusivos.
      </p> 
      </p> 
    </div>
  </footer>

  <div class="footer">
    <img src="imagem/logo.svg" alt="Dreams Tourism" style="width:40px; height: 40px;"><h2 style="position: relative; left: -30%; top: 5px;"></h2>  
    <div class="sociais">
      <div class="social">
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="social">
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="social">
        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
    <script src="sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"crossorigin="anonymous"></script>
</body>
</html>