<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Florianópolis - SC</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/1-Bootstrap/Scroll.js">
    <link rel="stylesheet" href="/css/BaseBoard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/hr.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"  />
    <link rel="stylesheet" href="/css/txt.css">
    <link rel="stylesheet" href="/css/contentdescri.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="shortcut icon" href="/img/icon_aviao.png.png" type="image/x-icon">
    
</head>

<body>

    <!-- navegador e sidebar -->
    <nav class="navbar sticky-top navbar-light bg-light" >
        <div class="logo">
          <i class="bx bx-menu menu-icon"></i>
          <span class="logo-name">dreams tourism</span>
        </div>
        <div class="sidebar">
          <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">Dreams tourism</span>
          </div>
      
          <div class="sidebar-content">
            <ul class="lists">
              <li class="list">
                <a href="inicio.html" class="nav-link">
                  <i class="bx bx-home-alt icon"></i>
                  <span class="link">Início</span>
                </a>
              </li>
              <li class="list">
                <a href="#" class="nav-link">
                  <i class="bx bx-bar-chart-alt-2 icon"></i>
                  <span class="link">Nossos serviços</span>
                </a>
              </li>
              <li class="list">
                <a href="#" class="nav-link">
                  <i class="bx bx-bell icon"></i>
                  <span class="link">Notificações</span>
                </a>
              </li>
             
              
              <li class="list">
                <a href="#" class="nav-link">
                  <i class="bx bx-heart icon"></i>
                  <span class="link">Likes</span>
                </a>
              </li>
            
            </ul>
      
            <div class="bottom-cotent">
              <li class="list">
                <a href="#" class="nav-link">
                  <i class="bx bx-cog icon"></i>
                  <span class="link">Configurações</span>
                </a>
              </li>
              <li class="list">
                <a href="login.html" class="nav-link">
                  <i class='bx bx-log-in icon'></i>
                  <span class="link">Entrar</span>
                </a>
              </li>
            </div>
          </div>
        </div>
      </nav>

    <!-- carrosel de img -->
    <div id="carouselExampleIndicators" class="carousel slide" dataride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slideto="1"></li>
            <li data-target="#carouselExampleIndicators" data-slideto="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="imagem/img_repre_floripaPraia_1500x600.png" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="imagem/img_repre_floripaCidade_1500x600.png" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="imagem/img_repre_floripaPonte_1500x600.png" alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" ariahidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" ariahidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <!-- legenda -->
    <div style="text-align:center ;"> <br> <br>
        <b>
            <h3>Pacotes para Florianópolis</h3>
        </b>
        <!--botão de compra-->
<main>
  <a href="form_escolha.html" class=" botao">
      Comprar 
  </a>
</main>

<br><br>
        <h4>A partir de R$345,00</h4> <br>
    </div>
    <div class="back">

    <br><br>
    <hr class="linha">
    <br>
    <h3 class="txtpg">O que o pacote oferece</h3>

    <div class="horizontal-list">
      <li>
        <i class='bx bx-check icon-check'></i>
       <p class="txtfont">Passagem</p>
      </li>
      <li>
        <i class='bx bx-check icon-check'></i>
        <p class="txtfont">Hospedagem</p>
      </li>
      <li>
        <i class='bx bx-check icon-check'></i>
        <p class="txtfont">Guia</p>
      </li>
      <li>
        <i class='bx bx-check icon-check'></i>
        <p class="txtfont">Transporte entre os passeios</p>
      </li>
    </div>
   
    <br><br>
    <hr class="linha">

    <!-- card opcao 
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">

                        <div class="card-body">
                            <h4 class="card-title"> <b> Pacote Intermediário</h4></b>
                            <p class="card-text"> <b>City Tour:</b> Tour pela Cidade, Parque Beto Carrero, 
                                Parque Unipraias e Praia de Laranjeiras com Bondinho, com a inclusão de um guia.
                            </p>
                        </div>

                        <div>
                            <a href="pg_compra.html">
                                <button class="button"><span> Comprar
                                    </span></button></a>
                        </div>
                        <div class="preco">
                            <b>
                                <p>R$345,00</p>
                            </b>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">

                        <div class="card-body">
                            <h4 class="card-title"> <b> Pacote Premium</h4></b>
                            <p class="card-text"> <b>City Tour Completo:</b>
                                Tour pela Cidade, Parque Beto Carrero, Parque Unipraias e Praia de Laranjeiras com Bondinho,
                                 Vale Europeu, Tour Privativo às Praias do Rosa e Garopaba, Tour Balneario Camboriu, com a inclusão de um guia.
                        </div>
                      
                        <div>
                            <a href="pg_compra.html">
                                <button class="button"><span> Comprar
                                    </span></button></a>
                        </div>
                        <div class="preco">
                            <b>
                                <p>R$570,00</p>
                            </b>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <br><br> -->


    <!-- card de Descrição -->
    <div class="card-deck" style="position: relative; width:90%; left: 5%; top:
25px;">
        <div class="card">

            <div class="card-body">
                <h3 class="card-title"><b>Onde ficar em Florianópolis</h3></b>
                <p class="card-text"> Jurerê;<br> 
                    Canasvieiras;<br>
                    Barra da Lagoa; <br>
                    Campeche.
<br> </p>

            </div>
        </div>

        <div class="card">

            <div class="card-body">
                <h3 class="card-title"><b>O que fazer em Florianópolis?</h3></b>
                <p class="card-text"> Quem pensa que Florianópolis só tem praias a oferecer está muito enganado, na cidade na ilha há muitas opções, tanto
                naturais, como várias construções históricas, tanto no centro como ao redor da ilha, como é o caso das Fortalezas
                datadas do século XVIII.
                Conheça os principais pontos turísticos de Florianópolis, além das praias!</p>

            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <h3 class="card-title"><b>Onde comer em Fortaleza?</h3></b>
                <p class="card-text">O que é típico de Santa Catarina?
                Resultado de imagem para como é a culinária em florianopolis
                Um dos principais pratos típicos de Santa Catarina com origem alemã é o Eisbein, um joelho de porco cozido e então
                assado, até ficar com a pele bem sequinha. Acompanhado de chucrute, batatas e purê de maçã, é sempre o carro chefe das
                cervejarias com temática alemã em Santa Catarina.</p>
                </p>

            </div>

        </div>
    </div>

    </div>
    <br><br>
    <!-- linha -->
    <hr width="95%">
    <!-- descricao -->
    <div class="txtdesc"> <br><br>
        <b>
            <h2>Sobre Florianópolis</h2>
        </b>
        <div style="font-size: 25px;">
            <P>
            A capital do estado de Santa Catarina no sul do Brasil,<br>
            é maioritariamente constituída pela Ilha de Santa Catarina, <br>
            com 54 km de comprimento. É famosa pelas suas praias, incluindo <br>
            estâncias turísticas populares como a Praia dos Ingleses na <br>
            extremidade norte da ilha. A sua Lagoa da Conceição, uma lagoa <br>
            de água salgada, é popular para a prática de windsurf e para <br>
            excursões de barco. A Ponte Pedro Ivo Campos faz a ligação entre<br>
            a ilha e a zona comercial continental.<br>
            </p> <br>
        </div>
    </div>
    </div>
    <br><br>
    <!-- linha -->
    <hr width="95%">
    <!-- link js -->
    <footer>
        <div class="boxs">
          <h2>Início</h2>
          <ul>
            <li><a href="inicio.html">Home</li></a>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="boxs">
          <h2>Contato</h2>
          <ul>
            <li><a href="#">Endereço</li></a>
            <li><a href="#">📌Rua Oscar Alho Filho</li></a>
            <li><a href="#">📞 +55 (11) 97845-6098</a></li>
          </ul>
        </div>
        <div class="boxs">
          <h2>Suporte</h2>
          <ul>
            <li><a href="#">Fale conosco</li></a>
            <li><a href="#">📧 dreamstourism@gmail.com</li></a>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="boxs">
          <h2>Sobre nós</h2>
          <p>
            Somos uma agência de turismo com o objetivo de proporcionar aos nossos clientes a melhor viagem da vida deles, com o melhor custo-benefício e segurança que eles merecem. 
 <br>
 	   <p> A Dreams Tourism é uma recém startup no mercado de turismo com grandes parcerias com os melhores hotéis e passeios exclusivos.
          </p> 
          </p>
        </div>
      </footer>
    
      <div class="footer">
        <img src="imagem/logo.svg" alt="Dreams Tourism" style="width:40px; height: 40px;"><h2 style="position: relative; left: -30%; top: 5px;"></h2>  
        <div class="sociais">
          <div class="social">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <div class="social">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div class="social">
            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <script src="/js/sidebar.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"  crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"crossorigin="anonymous"></script>
  
</body>

</html>