<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreams Tourism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="/css/sidebar.css">
     <link rel="stylesheet" href="/css/hr.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" href="/1-Bootstrap/Scroll.js">
     <link rel="stylesheet" href="/css/BaseBoard.css">
     <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"  />
     <link rel="stylesheet" href="/css/img.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="shortcut icon" href="/img/icon_aviao.png.png" type="image/x-icon">
     
</head>
<body >
    
       <!-- navegador e sidebar -->
<nav class="navbar sticky-top navbar-light bg-light" >
  <div class="logo">
    <i class="bx bx-menu menu-icon"></i>
    <span class="logo-name">dreams tourism</span>
  </div>
  <div class="sidebar">
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">Dreams tourism</span>
    </div>

    <div class="sidebar-content">
      <ul class="lists">
        <li class="list">
          <a href="/pagina/inicial" class="nav-link">
            <i class="bx bx-home-alt icon"></i>
            <span class="link">Início</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-bar-chart-alt-2 icon"></i>
            <span class="link">Nossos serviços</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-bell icon"></i>
            <span class="link">Notificações</span>
          </a>
        </li>
       
        
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-heart icon"></i>
            <span class="link">Likes</span>
          </a>
        </li>
      
      </ul>

      <div class="bottom-cotent">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-cog icon"></i>
            <span class="link">Configurações</span>
          </a>
        </li>
        <li class="list">
          <a href="/pagina/login" class="nav-link">
            <i class='bx bx-log-in icon'></i>
            <span class="link">Entrar</span>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>
</nav>
<section class="overlay"></section>
    
              <!-- carrosel de imagens logo abaixo do navegador -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/img/img_repre_copa_doha_1500x600.png" alt="Primeiro Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Catar</h5>
              <p>Para mais informações consulte os Pacotes Exclusivos.</p>
          </div>
      </div>
              <div class="carousel-item"><a href="pg_rio_de_janeiro.html">
                <img class="d-block w-100" src="/img/img_repre_RioDeJaneiro_1500x600px.png.png" alt="Segundo Slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Rio De Janeiro</h5>
                <p>Para mais informações consulte os Pacotes Mais Vendidos.</p>
                </div>
              </div></a>
              <div class="carousel-item">
                <img class="d-block w-100" src="/img/img_repre_Buzios_1500x600px.png.png" alt="Terceiro Slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Floripa</h5>
              <p>Para mais informações consulte os Pacotes Exclusivos.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/img/img_repre_natal1500x600.png" alt="quarto Slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Natal</h5>
              <p>Para mais informações consulte os Pacotes Mais Vendidos.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/img/img_repre_Noronha_1500x600.png.png" alt="quinto Slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Fernando de Noronha</h5>
              <p>Para mais informações consulte os Pacotes Mais Vendidos.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/src/main/resources/static/img/img_repre_SaoPauloPredios_1500x600.png.png" alt="sexto Slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>São Paulo</h5>
              <p>Para mais informações consulte os Pacotes Mais Vendidos.</p>
                </div></div>
       </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>
          
             <br><br>
             <!-- card de pacotes -->
            
           
             <hr class="linha">
  <h2 style="text-align: center; position:relative; padding-top: 20px;">Pacotes exclusivos</h2>
    
   
      <div class="card-deck card"  style="position: relative; width:90%; left: 5%; top: 25px; padding-top: 0px; font-size: 18px;">
        <div class="card" >
         
          <img class="card-img-top" src="/img/img_repre_Réveillon_200x200.png.png" alt="Imagem de capa do card">
          <div class="card-body">
            <b><h5 class="card-title">Pacotes para Copacabana Réveillon</h5></b>
          <p class="card-text">Pacotes exclusivos para você e sua Família aproveitarem o melhor de Copacabana.</p>
          <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ </p><br/> 
          
          <a href="/pacote/copacabana"><p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top"  src="/img/img_repre_CopaTaca_200×200px.png.png" alt="Imagem de capa do card">
          <div class="card-body">
            <b> <h5 class="card-title">Pacotes para a Copa do Mundo Feminina </h5></b>
            <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ <br/>
               Pacotes exclusivos para você e sua Família aprovitarem o melhor da Copa do Mundo Feminina.
            </p>
            <a href="/pacote/copa/do/mundo">
            <p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/img_repre_SaoPaulo_200x200px.png.png" alt="Imagem de capa do card">
          <div class="card-body">
            <b><h5 class="card-title">Pacotes para São Paulo</h5></b>
            <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ <br/>
            <p class="card-text">Pacotes exclusivos para você e sua Família aproveitarem o melhor de São Paulo.</p>
          <a href="/pacote/sao/paulo">
            <p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p>
          </a>
          </div>
        </div>
      </div>
      <br>
        <br>
        <br>
        <br>
        <hr class="linha">
        <br>
        <br>
		
      <div class="card  border-light text-white">
        <img src="/img/img_repre_baixar.pgn.png" class="card-img" alt="...">
        <div class="card-img-overlay">
        
        </div>
      </div>


      <br>
      <br>

        <hr class="linha">
       <h2 style="text-align: center;padding-top: 20px;">mais vendidos</h2>
     

      <div class="card-deck" style="position: relative; width:90%; left: 5%; top: 35px; padding-bottom: 100px;">
        <div class="card">
          <img class="card-img-top" src="/img/img_repre_Floripa_200x200.png.png" alt="Imagem de capa do card">
          <div class="card-body">
            <b><h5 class="card-title">Pacotes para Florianópolis</h5></b>
            <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ <br/>
            <p class="card-text">Pacotes exclusivos para você e sua Família aproveitarem o melhor Floripa.</p>
            <a href="/pacote/floripa">
              <p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p>
            </a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/img_repre_Noronha_200x200.png.png" alt="Imagem de capa do card">
          <div class="card-body">
           <b> <h5 class="card-title">Pacotes para Fernando de noronha</h5></b>
           <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ <br/>
            <p class="card-text">Pacotes exclusivos para você e sua Família aproveitarem o melhor de Fernando de Noronha.</p>
          <a href="/pacote/noronha">
            <p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p>
          </a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/img_repre_natal200x200.png" alt="Imagem de capa do card">
          <div class="card-body">
           <b> <h5 class="card-title">Pacotes para Natal</h5></b>
           <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ <br/>
            <p class="card-text">Pacotes exclusivos para você e sua Família aproveitarem o melhor de Natal.</p>
          <a href="/pacote/natal">
            <p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p>
          </a>
            
          </div>
        </div>
      </div>
      
      
      <hr class="linha">
      <h2 style="text-align: center; position:relative; padding-top: 20px;">melhores pacotes</h2>
    
    <div class="card-deck card"  style="position: relative; width:90%; left: 5%; top: 25px; padding-top: 0px; font-size: 18px;">
        <div class="card" >
         
          <img class="card-img-top" src="/img/img_repre_RioDeJaneiro1_2_200x200px.png.png" alt="Imagem de capa do card">
          <div class="card-body">
           <b> <h5 class="card-title">Pacotes para Rio de Janeiro</h5></b>
            <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ <br/>
               Pacotes exclusivos para você e sua Família aproveitarem o melhor do Rio de Janeiro.
            </p>
             <a href="/pacote/rio/de/janeiro">
              <p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p>
            </a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/img_repre_Fortaleza_200x200.png.png" alt="Imagem de capa do card">
          <div class="card-body">
           <b> <h5 class="card-title">Pacotes para Fortaleza</h5></b>
           <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ <br/>
            <p class="card-text">Pacotes exclusivos para você e sua Família aproveitarem o melhor de Fortaleza.</p>
            <a href="/pacote/fortaleza">
              <p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/img_repre_PortoSeguro_200x200.png.png" alt="Imagem de capa do card">
          <div class="card-body">
            <b><h5 class="card-title">Pacotes para Bahia</h5></b>
            <p class="card-text" style="text-decoration: none;"> 💵 A partir de R$ <br/>
            <p class="card-text">Pacotes exclusivos para você e sua Família aproveitarem o melhor de Porto Seguro.</p>
          <a href="/pacote/bahia">
            <p class="card-text"><small class="text-muted">Clique para Saber Mais</small></p>
          </a>
          </div>
        </div>
      </div>
        <br>
        <br>
        <hr class="linha">
       
        <br>
        <br>


        <footer>
          <div class="boxs">
            <h2>Início</h2>
            <ul>
              <li><a href="/pagina/inicial">Home</li></a>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="boxs">
            <h2>Contato</h2>
            <ul>
              <li><a href="#">Endereço</li></a>
              <li><a href="#">📌Rua santos dumond </li></a>
              <li><a href="#">📞 +55 (11) 97845-6098</a></li>
            </ul>
          </div>
          <div class="boxs">
            <h2>Suporte</h2>
            <ul>
              <li><a href="#">Fale conosco</li></a>
              <li><a href="#">📧 dreamstourism@gmail.com</li></a>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="boxs">
            <h2>Sobre nós</h2>
            <p>
              Somos uma agência de turismo com o objetivo de proporcionar aos nossos clientes a melhor viagem da vida deles, com o melhor custo-benefício e segurança que eles merecem. 
 <br>
 	   <p> A Dreams tourism é uma recém startup no mercado de turismo com grandes parcerias com os melhores hotéis e passeios exclusivos.   
    </p></p>
          </div>
        </footer>

        <div class="footer">
          <img src="/img/logo.svg" alt="Dreams Tourism" style="width:40px; height: 40px;"><h2 style="position: relative; left: -30%; top: 5px;"></h2>  
          <div class="sociais">
            <div class="social">
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="social">
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="social">
              <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/sidebar.js"></script>
</body>
</html>
