<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="/css/hr.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"  />
        <link rel="shortcut icon" href="/img/icon_aviao.png.png" type="image/x-icon">
</head>
<body class="animated-background">
  
  
   <!-- Barra de navegação -->
   <nav class="navbar sticky-top navbar-light bg-light" >
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">dreams tourism</span>
    </div>
    <div class="sidebar">
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Dreams tourism</span>
      </div>
  
      <div class="sidebar-content">
        <ul class="lists">
          <li class="list">
            <a href="/pagina/inicial" class="nav-link">
              <i class="bx bx-home-alt icon"></i>
              <span class="link">Início</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-bar-chart-alt-2 icon"></i>
              <span class="link">Nossos serviços</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-bell icon"></i>
              <span class="link">Notificações</span>
            </a>
          </li>
         
          
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-heart icon"></i>
              <span class="link">Likes</span>
            </a>
          </li>
        
        </ul>
  
        <div class="bottom-cotent">
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-cog icon"></i>
              <span class="link">Configurações</span>
            </a>
          </li>
          <li class="list">
            <a href="login.html" class="nav-link">
              <i class='bx bx-log-in icon'></i>
              <span class="link">Entrar</span>
            </a>
          </li>
        </div>
      </div>
    </div>
  </nav>
  </nav>
  <section class="overlay"></section>
      
    
    </div>
    <!-- Login -->
<div class="form"> 
        <p class="txt" ><h2>Sing in</h2></p> 
        <!-- <hr class="linhazinha"> -->
        <hr>
  <form class="login-form">
            
      <input type="text" placeholder="Usuário"/>
          
              <div class="svgcaceado">
                <!-- <img src="imagem/cadeado.svg" alt="" srcset=""> -->
              </div>
      <input type="password" placeholder="Senha"/>
     
      <button>Entrar</button>
        <p class="message"> Ainda não esta resgistrado?
            <a href="/cliente/novo">Crie uma nova conta!</a>
        </p>
  </form>
 </div>
  
  <script src="/js/sidebar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"crossorigin="anonymous"></script>

</body>
</html>